.intro
  padding-top: 30px
  padding-bottom: 60px
  h1
    font-size: 36px
    font-weight: bold
    color: $slate-grey
    padding-bottom: 30px
  p
    font-size: 14px
    color: $slate-grey
    line-height: 1.22
    padding-bottom: 15px
