.offers
  padding-bottom: 90px
  +r(767)
    padding-bottom: 50px
  &--none
    display: none
    margin-bottom: 50px
    margin-top: 30px
  &__content
    margin-bottom: 30px
  &__block
    padding: 110px 0
    background-repeat: no-repeat
    background-size: cover
    margin: 8px
    margin-bottom: 20px
    +r(767)
      background-position: 50%, 50%
    &--radius1
      border-bottom-left-radius: 25px
      +r(1024)
        border-radius: 0
    &--radius2
      border-top-right-radius: 25px
      height: 95.5%
      +r(1024)
        border-radius: 0
    &__btn--1
      background: $light-indigo
      width: 195px
    &__btn--2
      background: $ugly-purple
      width: 250px
    &__btn--3
      background: $salmon
      width: 325px
    &__btn--4
      background: $pastel-red-two
      width: 205px
    &__btn--5
      background: $carnation
      width: 200px
    a
      padding: 18px 20px
      font-size: 16px
      font-weight: 500
      text-transform: uppercase
      color: $white
      box-shadow: 0px 2px 10px 0 rgba(49, 47, 47, 0.16)
      border-radius: 25px
      position: relative
      left: -15px
      display: flex
      justify-content: flex-end
  &__btn
    padding-top: 60px
    display: flex
    justify-content: center
    align-items: center
    position: relative
    width: 100%
    +r(1024)
      flex-direction: column
    +r(767)
      padding-bottom: 40px
    p
      letter-spacing: 0.4px
      color: $slate-grey
      font-size: 16px
      padding-right: 35px
      position: absolute
      left: 9%
      +r(1024)
        position: relative
        left: 0
        padding-right: 0
        padding-bottom: 20px
    a
      color: $bluey-purple
      font-size: 16px
      font-weight: 500
      display: block
      padding: 17px
      border-radius: 4px
      box-shadow: 0px 2px 10px 0 rgba(49, 47, 47, 0.16)
      border: solid 1px $bluey-purple
      position: relative
      &:hover
        color: $pastel-red-two
        border: 1px solid $pastel-red-two
      i
        font-size: 16px
        padding-right: 12px