*
	padding: 0
	margin: 0
body
	font-family: 'Ubuntu', sans-serif
	height: 100%
	position: relative
.container
	box-sizing: border-box
	width: 100% !important
	height: 100%
	max-width: 1150px
	position: relative
	padding: 0 15px
.flex
	display: flex
a
	text-decoration: none
	transition: all 0.3s
.bg--examples
	background: url('../img/bg--two.png') no-repeat
	background-size: cover
.heading
	padding-bottom: 60px
	+r(1024)
		padding-bottom: 25px
	h2
		font-size: 36px
		font-weight: bold
		color: $slate-grey
		padding-bottom: 20px
		+r(767)
			font-size: 26px
	p
		font-size: 16px
		color: $slate-grey
		letter-spacing: 0.4px
		+r(767)
			font-size: 14px
	&--choice
		h2
			color: $white
		p
			color: $white
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button
	-webkit-appearance: none
	margin: 0
input::-webkit-input-placeholder
	color: $greyish
input::-moz-placeholder
	color: $greyish
input:-moz-placeholder
	color: $greyish
input:-ms-input-placeholder
	color: $greyish
textarea::-webkit-input-placeholder
	color: $greyish
textarea::-moz-placeholder
	color: $greyish
textarea:-moz-placeholder
	color: $greyish
textarea:-ms-input-placeholder
	color: $greyish