---
title: Index Page
---
extends layouts/_layout
block content
  include page/intro
  .bg--examples
    include page/offers
    include page/choice
    include page/examples
    include page/reviews
  include page/contacts
  include partials/_footer