//BEGIN header
header.header(class=headerClass)
  .container
    .menu-open
      span
    .row
      .col-xs-12
        .header__block
          a(href="tel:+48662202167").tel
            i.fas.fa-phone.wow.swing(data-wow-offset="40" data-wow-duration="1.7s" data-wow-iteration="infinite")
            | +48 66 220 21 67
          a(href="mailto:info@wroglass.pl")
            i.fas.fa-envelope-open
            | info@wroglass.pl
          a(href="#")
            i.fas.fa-map-marker-alt.wow.pulse(data-wow-offset="40" data-wow-iteration="infinite")
            | Wroclaw, Robotnicza 6
          a(href="#")
            i.fas.fa-clock
            | Poniedziałek - Piątek: 9-19
          .header__block__btn
            a(href="#")
              i.fas.fa-envelope-open
              | Poproś o ofertę
.header-toolbar(class=toolbarClass)
  .container
    .row.middle-xs
      .col-md-4.col-xs-12
        .header-toolbar__logo
          img(src="img/logo.png", alt="")
          h2 wroglass
            p USŁUGI SZKLARSKIE
      .col-md-8.col-sm-12
        nav
          ul
            li
              a(href="index.html") Strona główna
            li
              a(href="content.html") Oferta
            li
              a(href="#") Referencje
            li
              a(href="#") promocje
            li
              a(href="#") Galeria
            li
              a(href="#") Kontakt 
.menu--bg
.menu__mobile#menu
  .close
    span
  ul
    li
      a(href="index.html") Strona główna
    li
      a(href="content.html") Oferta
    li
      a(href="#") Referencje
    li
      a(href="#") promocje
    li
      a(href="#") Galeria
    li
      a(href="#") Kontakt 
//END header
