//BEGIN header
header.header
  .container
    .menu-open
      span
    .row
      .col-md-2.col-sm-4.end-sm
        .header__block
          .header__block__btn
            a(href="#")
              i.fas.fa-envelope-open
              | Poproś o oferte
.header-toolbar
  .container
    .header-toolbar--mobile
      .header-toolbar__phone
        a(href="tel:0048662202167")
          i.fas.fa-phone
          | 00 48 662 202 167
      .header-toolbar__location
        a(href="#")
          i.fas.fa-map-marker-alt
          | ul. Północna 24/14, Wrocław
    nav
      ul
        li
          a(href="#") O firmie
        li
          a(href="content.html") Oferta
        li
          a(href="#examples") Realizacje
        li
          a(href="#reviews") Galeria
        li
          a(href="#contacts") Kontakt 
.menu--bg
.menu__mobile#menu
  .close
    span
  ul
    li
      a(href="#") O firmie
    li
      a(href="content.html") Oferta
    li
      a(href="#examples") Realizacje
    li
      a(href="#reviews") Galeria
    li
      a(href="#contacts") Kontakt 
//END header
