section.choice#choice
  .container
    .row.center-xs
      .col-xs-12
        .heading.heading--choice
          h2 Dlaczego wybrać nas?
          p Oferujemy bardzo szeroki zakres usług, oraz profesjonalizm poparty prestiżowymi realizacjami w krajach Unii Europejskiej.
    .row.center-xs
      .col-md-3.col-xs-6
        .choice__block
          p
            i.fas.fa-wrench
            |  Profesjonalny przet
      .col-md-3.col-xs-6
        .choice__block
          p
            i.fas.fa-lightbulb
            | Wieloletnie doswiadczenie
      .col-md-3.col-xs-6
        .choice__block
          p
            i.fas.fa-thumbs-up
            | Prestizowe realizacje
      .col-md-3.col-xs-6
        .choice__block
          p
            i.fas.fa-certificate
            | Regularne rabaty i promocje