section.examples#examples
  .container
    .row.center-xs
      .col-xs-12
        .heading
          h2 Przykłady realizacji
          p Wśród naszych prac jest budowa Komisji Europejskiej LEX 2000 w Brukseli, Fuga w oknach Zamku Królewskiego w Brukseli, Fugi w tunelu Luksemburga, Połączenia na tamie w Liège i wiele innych
    .row.examples--block
      .col-sm-4.col-xs-12.wow.flipInY(data-wow-offset="40" data-wow-duration="1.7s").examples--none-mobile
        .examples__block(style='background-image: url(img/examples__block--bg1.png)')
          a(href="#")
            h3 Europejski Parlament
            span Bruksela
            p uszczelnienia elewacji; materiały: Sika, Detaflex, Soudal
      .col-sm-4.col-xs-12.wow.flipInY(data-wow-offset="40" data-wow-duration="1.7s")
        .examples__block(style='background-image: url(img/examples__block--bg2.png)')
          a(href="#")
            h3 Dworzec <br>Kolejowy
            span Antwerpia
            p materiały: Sika, Soudal
      .col-sm-4.col-xs-12.wow.flipInY(data-wow-offset="40" data-wow-duration="1.7s")
        .examples__block(style='background-image: url(img/examples__block--bg3.png)')
          a(href="#")
            h3 City<br> Garden
            span Bruksela
            p uszczelnienia granitowych i marmurowych elewacji materiały: Sika
    .row.center-xs
      .col-xs-12.center-xs
        .examples__btn
          p Mamy coś, z czego możemy być dumni:
          a(href="#examples--none" data-all)
            i.fas.fa-chevron-circle-down
            | Więcej przykładów
    .examples--none#examples--none
      .row
        .col-sm-4.col-xs-12.wow.flipInY(data-wow-offset="40" data-wow-duration="1.7s")
          .examples__block(style='background-image: url(img/examples__block--bg1.png)')
            a(href="#")
              h3 Europejski Parlament
              span Bruksela
              p uszczelnienia elewacji; materiały: Sika, Detaflex, Soudal
        .col-sm-4.col-xs-12.wow.flipInY(data-wow-offset="40" data-wow-duration="1.7s")
          .examples__block(style='background-image: url(img/examples__block--bg2.png)')
            a(href="#")
              h3 Dworzec <br>Kolejowy
              span Antwerpia
              p materiały: Sika, Soudal
        .col-sm-4.col-xs-12.wow.flipInY(data-wow-offset="40" data-wow-duration="1.7s")
          .examples__block(style='background-image: url(img/examples__block--bg3.png)')
            a(href="#")
              h3 City<br> Garden
              span Bruksela
              p uszczelnienia granitowych i marmurowych elewacji materiały: Sika