section.intro
  .container
    .row.center-xs
      .col-xs-12
        .intro__head
          h1 struktury szklane Wysokiej jakości
          p Firma WROGLASS, pragnie realizowac Panstwa marzenia i pomysly w celu ulepszenia i uplekszenia codziennego zycia.
        .intro__btn
          a(href="#")
            i.fas.fa-envelope-open
            | Poproś o ofertę