section.offers
  .container
    .row
      .col-xs-12.center-xs
        .heading
          h2 Oferujemy
          p Oferujemy bardzo szeroki zakres usług, oraz profesjonalizm poparty prestiżowymi realizacjami w krajach Unii Europejskiej.<br> Zapewniamy gwarancję i zadowolenie Klieta, wyznając zasadę "Klient nasz Pan".
    .row.offers--block
      .col-xs-9
        .offers__content
          .row
            .col-md-4
              .offers__block(style='background-image: url(img/offers--bg-1.png)')
                a(href="#").offers__block__btn--1 okna
            .col-md-8
              .offers__block(style='background-image: url(img/offers--bg-2.png)')
                a(href="#").offers__block__btn--2 balustrady
        .row
          .col-md-8
            .offers__block.offers__block--radius1(style='background-image: url(img/offers--bg-3.png)')
              a(href="#").offers__block__btn--3 Kabiny prysznicowe
          .col-md-4
            .offers__block(style='background-image: url(img/offers--bg-4.png)')
              a(href="#").offers__block__btn--4 lustra
      .col-md-3
        .offers__block.offers__block--radius2(style='background-image: url(img/offers--bg-5.png)')
          a(href="#").offers__block__btn--5 drzwi
    .row
      .col-xs-12
        .offers__btn
          p Mamy coś, z czego możemy być dumni:
          a(href="#offers--none" data-all)
            i.fas.fa-chevron-circle-down
            | Więcej przykładów
    .offers--none#offers--none
      .row
        .col-xs-9
          .offers__content
            .row
              .col-md-4
                .offers__block(style='background-image: url(img/offers--bg-1.png)')
                  a(href="#").offers__block__btn--1 okna
              .col-md-8
                .offers__block(style='background-image: url(img/offers--bg-2.png)')
                  a(href="#").offers__block__btn--2 balustrady
          .row
            .col-md-8
              .offers__block.offers__block--radius1(style='background-image: url(img/offers--bg-3.png)')
                a(href="#").offers__block__btn--3 Kabiny prysznicowe
            .col-md-4
              .offers__block(style='background-image: url(img/offers--bg-4.png)')
                a(href="#").offers__block__btn--4 lustra
        .col-md-3
          .offers__block.offers__block--radius2(style='background-image: url(img/offers--bg-5.png)')
            a(href="#").offers__block__btn--5 drzwi