section.reviews#reviews
  .container
    .row.center-xs
      .col-xs-12
        .heading.heading--reviews
          h2 Opinia o nas
          p Klienci lubią wynik naszej pracy! 
    .row.reviews--block
      .col-sm-4.col-xs-12.wow.flipInX(data-wow-offset="40" data-wow-duration="1.7s")
        .reviews__block
          i.fas.fa-quote-right
          h4 Doskonały wynik!
          p Dziękuję bardzo, jestem bardzo zadowolony z wyniku. Firma działa bardzo sprawnie i szybko. Przekroczyliśmy nasze oczekiwania!
          span Ivan Petrovsky
      .col-sm-4.col-xs-12.reviews--none-mobile.wow.flipInX(data-wow-offset="40" data-wow-duration="1.7s")
        .reviews__block
          i.fas.fa-quote-right
          h4 Doskonały wynik!
          p Dziękuję bardzo, jestem bardzo zadowolony z wyniku. Firma działa bardzo sprawnie i szybko. Przekroczyliśmy nasze oczekiwania!
          span Ivan Petrovsky
      .col-sm-4.col-xs-12.reviews--none-mobile.wow.flipInX(data-wow-offset="40" data-wow-duration="1.7s")
        .reviews__block
          i.fas.fa-quote-right
          h4 Doskonały wynik!
          p Dziękuję bardzo, jestem bardzo zadowolony z wyniku. Firma działa bardzo sprawnie i szybko. Przekroczyliśmy nasze oczekiwania!
          span Ivan Petrovsky
    .row.center-xs
      .col-xs-12.center-xs
        .reviews__btn
          a(href="#reviews--none" data-all) wszystkie oferty
          i.fas.fa-angle-down.wow.fadeOutDown(data-wow-offset="40" data-wow-duration="1.4s" data-wow-iteration="infinite")
    .reviews--none#reviews--none
      .row